<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=PRISMA-LAB-VM\C4;Initial Catalog=F3MOGeral;user id=F3MO;Password=;Integrated Security=True;Trusted_Connection=false;"
         providerName="System.Data.SqlClient"
         xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)" />

    <add name="F3MGeralEntities" connectionString="metadata=res://*/Models.BaseDados.F3MGeral.csdl|res://*/Models.BaseDados.F3MGeral.ssdl|res://*/Models.BaseDados.F3MGeral.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PRISMA-LAB-VM\C4;initial catalog=F3MOGeral;integrated security=False;user id=F3MO;Password=;multipleactiveresultsets=True;application name=EntityFramework&quot;"
         providerName="System.Data.EntityClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />

    <add name="F3MEntities" connectionString="metadata=res://*/Models.BaseDados.F3M.csdl|res://*/Models.BaseDados.F3M.ssdl|res://*/Models.BaseDados.F3M.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PRISMA-LAB-VM\C4;initial catalog=F3MO;integrated security=False;user id=F3MO;Password=;multipleactiveresultsets=True;application name=EntityFramework&quot;"
         providerName="System.Data.EntityClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>


    <add name="Entities" xdt:Transform="Remove" xdt:Locator="Match(name)" connectionString=" " />
    <add name="DefaultConnGeralDPO" xdt:Transform="Remove" xdt:Locator="Match(name)" connectionString=" " />
    <add name="DefaultConnEspDPO" xdt:Transform="Remove" xdt:Locator="Match(name)" connectionString=" " />
  </connectionStrings>

  <appSettings>
    <add key="Projeto" value="Prisma" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="PastaProjeto" value="prisma" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="NomeProjeto" value="prisma" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="LogoProjeto" value="prisma.svg" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="UtilizaDimensoes" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ModoSAAS" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="NomeBDSAAS" value="F3MPrisma" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <add key="Guiaestilos" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="EmDesenvolvimento" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <add key="ProjetoCliente" value="app" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="URLProjeto" value="http://prisma-lab-vm.westeurope.cloudapp.azure.com/app" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="URLLogin" value="http://prisma-lab-vm.westeurope.cloudapp.azure.com/app/F3M" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <add key="ServidorSQL" value="PRISMA-LAB-VM" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="InstanciaSQL" value="C4" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="UtilizadorSQL" value="F3MO" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="PasswordSQL" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="PasswordSQLSA" value="k+Kr1bwZ55RyUKy8bYdN2Q==" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="BDEmpresa" value="F3MO" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="BDGeral" value="F3MOGeral" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>