<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="EmDesenvolvimento" value="true"/>
    <add key="ProjetoCliente" value="Prisma" />
    <add key="URLProjeto" value="http://localhost/Prisma" />
    <add key="URLLogin" value="http://localhost/F3M" />
    <!-- /CONFIGURACOES IIS -->
    <!-- CONFIGURACOES BASEDADOS -->
    <add key="ModoSAAS" value="true" />
    <add key="NomeBDSAAS" value="F3MPrisma" />
    <add key="ServidorSQL" value="prisma-lab-vm.westeurope.cloudapp.azure.com,1433" />
    <add key="InstanciaSQL" value="" />
    <add key="UtilizadorSQL" value="F3MO" />
    <add key="PasswordSQL" value="" />
    <add key="PasswordSQLSA" value="k+Kr1bwZ55RyUKy8bYdN2Q==" />
    <add key="BDEmpresa" value="F3MO" />
    <add key="BDGeral" value="F3MOGeral" />
  </appSettings>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source={0};Initial Catalog={1};user id={2}; Password={3};Integrated Security=True;Trusted_Connection=false;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>